body {
  display: table;
  width: 100%;
  overflow-x: hidden;
  table-layout: fixed;
}

section, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  overflow-x: hidden;
}

.finance_text_head h3 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .finance_text_head h3 {
    font-size: 30px;
  }
}

.finance_iner {
  padding: 80px 0px;
}

@media screen and (max-width: 1200px) {
  .finance_iner {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 992px) {
  .finance_iner {
    width: 80%;
    margin: auto;
  }
}

.finance_outer {
  padding: 50px 0;
}

@media screen and (max-width: 1200px) {
  .finance_outer {
    padding: 0px 0px;
  }
}

.finance_outer .plan {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  .finance_outer .plan {
    margin: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    padding-bottom: 20px;
  }
}

.finance_outer .plan img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .finance_outer .plan img {
    width: 80%;
  }
}

.finance .btn {
  border: 2px solid #00a759;
  background-color: #FFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 8px 25px;
  font-family: Roboto;
  font-weight: 900;
}

@media screen and (max-width: 992px) {
  .finance .btn {
    margin-bottom: 20px;
    width: 100%;
  }
}

.finance .btn a {
  text-decoration: none;
  color: #00a759;
}

.text_finance_top h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: Roboto;
}

.text_finance_bott p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  font-family: Roboto;
  padding: 15px 0;
}

.text_finance_bott p:first-child {
  padding-bottom: 0px;
}

.excel {
  padding: 75px 0px;
  background-color: #f7f7f7;
}

.icon h3 {
  padding-left: 50px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
  padding-top: 10px;
  font-size: 18px;
}

.block {
  z-index: 1;
}

.block:before {
  content: " ";
  position: absolute;
  background-image: url("../img/block.png");
  width: 30px;
  height: 35px;
  background-size: contain;
}

.people {
  z-index: 1;
}

.people:before {
  content: " ";
  position: absolute;
  background-image: url("../img/people.png");
  width: 35px;
  height: 35px;
  background-size: contain;
}

.hammer {
  z-index: 1;
}

.hammer:before {
  content: " ";
  position: absolute;
  background-image: url("../img/hammer.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.clock {
  z-index: 1;
}

.clock:before {
  content: " ";
  position: absolute;
  background-image: url("../img/clock.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mess {
  z-index: 1;
}

.mess:before {
  content: " ";
  position: absolute;
  background-image: url("../img/mes.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.book {
  z-index: 1;
}

.book:before {
  content: " ";
  position: absolute;
  background-image: url("../img/book.png");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
}

.excel_head_text h3 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .excel_head_text h3 {
    font-size: 30px;
  }
}

.excel_text_bott {
  line-height: 1.55;
}

.excel_text_bott p {
  font-family: 'Roboto';
  font-weight: 300;
  color: #000;
  padding-top: 10px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .excel_text_bott p {
    width: 90%;
  }
}

.many {
  padding: 75px 0;
}

.text_money h3 {
  color: #e50851;
  font-size: 40px;
  font-family: 'Roboto';
  line-height: 1.25;
  font-weight: 500;
  padding-bottom: 25px;
}

@media screen and (max-width: 1200px) {
  .text_money h3 {
    font-size: 30px;
  }
}

.gren h3 {
  color: #00a759;
  width: 500px;
}

@media screen and (max-width: 1200px) {
  .gren h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .gren h3 {
    width: 300px;
  }
}

.text_money_head h4 {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 500;
}

.text_money_bott p {
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 400;
  width: 400px;
}

@media screen and (max-width: 480px) {
  .text_money_bott p {
    width: 350px;
  }
}

.money_outer {
  z-index: 1;
  padding-left: 45px;
  padding-bottom: 40px;
}

.money_outer:before {
  content: " ";
  position: absolute;
  background-image: url("../img/nomoney_red.png");
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.fc_outer {
  z-index: 1;
  padding-left: 45px;
  padding-bottom: 10px;
}

.fc_outer:before {
  content: " ";
  position: absolute;
  background-image: url("../img/fc_grean.png");
  width: 45px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
}

.client {
  background-color: #f7f7f7;
  padding: 75px 0;
}

.client_iner {
  width: 830px;
  padding: 30px 35px;
  background-color: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .client_iner {
    width: 500px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  .client_iner {
    width: 450px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 678px) {
  .client_iner {
    width: 400px;
    margin-left: 100px;
  }
}

.oure_client h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 42px;
  text-align: center;
  padding-bottom: 75px;
}

.img_client img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .img_client {
    text-align: center;
    padding-bottom: 20px;
  }
}

.text_client_top p {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000;
  font-size: 18px;
}

.name h3 {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  color: #000;
  font-size: 16px;
}

.poss p {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000;
  font-size: 14px;
}

.margin_client img {
  margin-left: 40px;
}

@media screen and (max-width: 1200px) {
  .margin_client img {
    margin-left: 0px;
  }
}

.img_client span {
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  .img_client {
    padding: 25px 0;
  }
}

.triangle-topright_1 {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .triangle-topright_1 {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .triangle-topright_1 {
    margin-left: 100px;
  }
}

.triangle-topright_1:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
  position: absolute;
  left: -30px;
  top: 20%;
}

@media screen and (max-width: 993px) {
  .triangle-topright_1:before {
    display: none;
  }
}

.client .triangle-topright_2 {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .client .triangle-topright_2 {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .client .triangle-topright_2 {
    margin: auto;
  }
}

.client .triangle-topright_2:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 30px solid #fff;
  border-right: 30px solid transparent;
  position: absolute;
  right: -30px;
  top: 20%;
}

@media screen and (max-width: 992px) {
  .client .triangle-topright_2:before {
    display: none;
  }
}

.tariff {
  padding: 75px 0;
}

.outer_tariff h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 42px;
  text-align: center;
  padding-bottom: 50px;
}

.block_tariff {
  padding: 30px 20px;
  border: 1px solid #e0e6ed;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  text-align: center;
  width: 200px;
  height: 530px;
  margin: auto;
  margin-left: 30px;
}

@media screen and (max-width: 992px) {
  .block_tariff {
    margin-bottom: 20px;
  }
}

.block_red {
  background: #e50851;
}

@media screen and (max-width: 1200px) {
  .block_red {
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  .block_red {
    margin-bottom: 20px;
  }
}

.block_red .center p, .block_red .type p {
  color: #fff;
}

.block_red .form_radio {
  color: #fff;
}

.name_tariff {
  padding-bottom: 30px;
}

.name_tariff h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 22px;
  text-align: left;
  padding: 8px 0;
}

.type p {
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  padding: 10px 0;
}

.block_red .name_tariff {
  padding-bottom: 10px;
}

.block_red h3 {
  color: #fff;
  text-align: center;
}

.center p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 16px;
  text-align: left;
  padding: 10px 0;
}

.form_radio {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  padding: 10px 0;
}

.form_radio form input[type=checkbox], .form_radio form input[type=radio] {
  margin: 20px 0;
}

.form_radio form input [type="button"], .form_radio form input[type=button], .form_radio form input[type=reset], .form_radio form input[type=submit] {
  color: #ffffff;
  background-color: #13ce66;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: Roboto;
  height: 40px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.form_radio a {
  text-decoration: none;
}

.our_team {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f7f7f7;
  text-align: center;
}

.our_team_text h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 42px;
  text-align: center;
  padding-bottom: 50px;
}

.team_poss h3 {
  font-size: 22;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
}

.team_description p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.img_team img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.causes {
  padding: 75px 0px;
  text-align: center;
}

.causes_outer h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 42px;
  text-align: center;
  padding-bottom: 80px;
}

.causes_img img {
  height: 100px;
}

.causes_text_top h3 {
  font-size: 22;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #000;
  padding: 20px 0;
}

.causes_text_bott p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.causes_img {
  height: 100px;
  position: relative;
}

.causes_img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto auto;
}

.causes_border {
  border-right: 2px solid #d1d1d1;
  height: 320px;
}

@media screen and (max-width: 992px) {
  .causes_border {
    border: none;
  }
}

.finance_form {
  padding: 75px 0;
  text-align: center;
}

.text_head h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 48px;
  padding-bottom: 25px;
  color: #fff;
}

.text_bott_finance p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding: 20px 0;
  color: #fff;
}

.finance_form {
  background-image: url("../img/footer.png");
  width: 100%;
  background-repeat: no-repeat;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.sech form input, .sech form select, .sech form textarea {
  background-color: white;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid red;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 256px;
  height: 56px;
}

@media only screen and (max-width: 768px) {
  .sech form input, .sech form select, .sech form textarea {
    width: 70%;
    margin-bottom: 3%;
  }
}

.sech form .sech_bttn {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 700;
  cursor: pointer;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  background-color: #00a759;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .sech form .sech_bttn {
    width: 70%;
    padding: 10px 0;
  }
}

.footer {
  padding: 35px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

.phone_number p {
  color: #262626;
  font-size: 20px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 400;
  margin: 0px;
}

.phone_number h4 {
  color: #262626;
  font-size: 30px;
  font-family: 'Open Sans';
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 0px;
  margin: 0px;
}

.address p {
  color: #262626;
  font-size: 20px;
  font-family: 'Open Sans';
  line-height: 1.55;
  font-weight: 400;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .address p {
    width: 100%;
  }
}

.text_footer_bott h4 {
  color: #262626;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
}

.text_footer_bott p {
  color: #262626;
  font-size: 14px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 400;
  text-align: center;
}

.header a {
  text-decoration: none;
}

.header .navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
  height: 80px;
  padding: 0px;
  font-size: 18px;
}

.header {
  height: 90px;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
}

.header ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.header .btn_header {
  font-family: 'Roboto', sans-serif;
  height: 45px;
  width: 190px;
  border: 0 none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background-color: #00a759;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 189px;
  background-color: #00a759;
  color: #fff;
}

.nav_menu {
  display: inline-block;
  float: right;
  padding-top: 25px;
}

.nav_menu ul li:nth-child(3) {
  padding-right: 100px;
}

.nav_menu ul li:nth-child(5) a {
  color: #00a759;
}

.nav_menu li {
  padding-left: 20px;
}

.nav_menu li .try {
  color: #ffffff;
  background-color: #00a759;
  width: 190px;
  height: 45px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: none;
}

.nav_menu li .try a {
  color: #fff;
  font-size: 14px;
}

.btn_menu {
  width: 60px;
}

.logo {
  display: inline-block;
}

@media screen and (min-width: 992px) {
  .btn_menu {
    display: none;
  }
}

.link a {
  color: #fff;
}

.service {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}

.service_text_top h1 {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Open Sans';
  line-height: 1.55;
  font-weight: 700;
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .service_inner {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .service_inner {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .ipad {
    padding-top: 100px;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .ipad {
    margin: auto;
    padding: 20px 0;
    padding-top: 0;
  }
}

.ipad img {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .ipad img {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .service .sech input {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .service .sech input {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .service form .sech_bttn {
    width: 80%;
  }
}

.service_text_bott p {
  color: #fff;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 400;
}

.box_header {
  margin-top: 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #00a759;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  -webkit-box-shadow: 9px 4px 28px 0px #474747;
          box-shadow: 9px 4px 28px 0px #474747;
  text-align: center;
  height: 200px;
}

@media screen and (max-width: 992px) {
  .box_header {
    height: 100%;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px 10px;
  }
}

.text_form_head h3 {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 500;
}

.text_form_head p {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Roboto';
  line-height: 1.55;
  font-weight: 500;
}

.service form .sech_bttn {
  background-color: #000;
}
